*{
    font-family: Georgia, 'Times New Roman', Times, serif;
    box-sizing: border-box;
    font-size: 16px;
    color: dark gray;

}

header {
    
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border: 7px solid;
    border-style: double;
    border-color: #ACBF60;
    background-size: contain;
    
} 

header h1 {

    color: #f1c40f;

}

header a {
    text-decoration: none;
}

header nav {
    display: inline;
    justify-content: flex-end;
    align-content: baseline;
    background-color: rgb(212, 214, 75);

}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
}

header nav ul li {
    padding-top: 30px;
}

header nav ul li a {
    padding: 30px 40px 60px 5px;
}
h1 {
    font-size: 40px;

}

#profile_pic {
    display:flex;
    order: -1;
}

 .menu {
    display: flex;
    justify-content: ;
    flex: wrap; 
}

/*source for fancy box https://developer.mozilla.org/en-US/docs/Learn/CSS/Howto/create_fancy_boxes*/
.fancy {

  image-orientation: center;
     
 padding: 0.1em;
 
  border: 0.25em solid rgb(187, 160, 8);

  width: 15em;
  height: 15em;
    
  border-radius: 30%;
}

body {
    border: #ACBF60;
    font-size: 20px;
    background-color: lightgoldenrodyellow;
}

.img {
    max-width: 200px;
    height: 200px;
    border: 5px;
    border-color: blueviolet;
}

/* sizes images uniformly using flex */

.image-list {
    display: flex;
    
}

.image-project {
    flex-wrap: wrap;
    flex-grow: 1;
}

.image-project {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
  }

.image-project:last-child {
    flex-grow: 10;
}

