*{
    font-family: Georgia, 'Times New Roman', Times, serif;
    box-sizing: border-box;
    font-size: 16px;
    color: #2A272C;
    border-radius: 15px;
    
}

header {
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border: 7px solid;
    border-style: double;
    background-color: #FDEDEC;
    border-color:  #FFD54F;
    background-size: contain;
    margin: 2%;
    
} 

header h1 {
    color: #2A272C;
    background-color: #FFD54F;
}

header a {
    text-decoration: none;
}

header nav {
    display: inline;
    justify-content: flex-end;
    align-content: baseline;
    background-color: #FDEDEC;
    border: solid 5px #FFD54F;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
}

header nav ul li {
    padding-top: 30px;
}

.nav_link {
    padding: 30px 40px 60px 5px;
}

.nav_link:hover {
    text-decoration: underline;
    color: violet;
}

h1 {
    font-size: 40px;
    border: 40px 20px solid 5px #f1c40f;
}

#profile_pic {
    display:flex;
    order: -1;
    max-width: 200px;
    height: 200px;
    border: 5px;
    background-color: #FDEDEC
}

 .menu {
    display: flex;
    justify-content: ;
    flex: wrap; 
}

/*source for fancy box https://developer.mozilla.org/en-US/docs/Learn/CSS/Howto/create_fancy_boxes*/
.fancy {

  image-orientation: center;
     
 padding: 0.1em;
 
  border: 0.4em solid #FDEDEC;

  width: 15em;
  height: 15em;
    
  border-radius: 25%;
}

body {
    border: #ACBF60;
    font-size: 20px;
    background-color: #D7CAE5 ;
}

main {
    margin-left: 8%;
    margin-right: 8%;
}

/* .img {
    max-width: 200px;
    height: 200px;
    border: 5px;
    background-color: #FDEDEC
    ;
   
} */

/* sizes images uniformly using flex */

.image-list {
    display: flex;
    
}

.image-project {
    flex-wrap: wrap;
    flex-grow: 1;
}

.image-project {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
  }

.image-project:last-child {
    flex-grow: 10;
}

.flexbox-container {
    display: flex;
    margin: 1%;
    
}

.flexbox-item {
    height: 200px;
    width: 200px;
    margin: 2px;
    border: 3px solid #FFD54F;
    background-color: #FDEDEC;
    border-radius: 15px;
    flex-wrap: wrap;
}

#my-works {
    border-top: none;
    border-left: none;
    border-bottom: none;    
    border-width: 10px;
}

#my-digits{
    border-top: none;
    border-left: none;
    border-bottom: none;    
    border-width: 10px;
    border-color: #f1c40f;
}
#flex-item-1 {
    flex-grow: 1;
}

.bottom-left {
    position: relative;
    bottom: 8px;
    left: 16px;
    background-color: #f1c40f;
}   
 h3 {
  margin-top: 10%; 
  margin-left: 20%;

 }    

#assignments {
    flex-grow: 1;
}

.works-img {
    max-width: 200px;
    max-height: cover;
    margin: 3% 3% 3% 3%;
    padding: 2% 4% 2% 4%;
    opacity: .5;
    border-radius: 28%;
}

.works-img:hover {
    opacity: 1;
    max-width: 215px;
}
 
 .about_me_container {
    display: flex;
    
 }

#farewell-image {
    max-width: 400px;
    max-height: fit-content;
}

#about_me {
    display: flex;
    margin: 2%;
}
footer {
    justify-content: space-around;
    flex-wrap: wrap;
    border: 7px solid;
    border-style: double;
    background-color: #FDEDEC;
    border-color:  #FFD54F;
    background-size: contain;
    text-align: center;
    margin: 2%;
}

.connect-link:hover {
    color: violet;
}
