*{
    font-family: Georgia, 'Times New Roman', Times, serif;
    box-sizing: border-box;
    font-size: 16px;

}

h1 {
    font-size: 200%;

}

nav {
    display: inline;
    flex: wrap;
}

/*source for fancy box https://developer.mozilla.org/en-US/docs/Learn/CSS/Howto/create_fancy_boxes*/
.fancy {
        /* Within a circle, centered text looks prettier. */
  image-orientation: center;
        /* Let's avoid our text touching the border. As
        our text will still flow in a square, it looks
        nicer that way, giving the feeling that it's a "real"
        circle. */
 /*padding: 1em;*/
    /* The border will make the circle visible.
        You could also use a background, as
        backgrounds are clipped by border radius */
  border: 0.5em solid rgb(187, 160, 8);
    /* Let's make sure we have a square.
        If it's not a square, we'll get an
        ellipsis rather than a circle */
  width: 4em;
  height: 4em;
    /* and let's turn the square into a circle */
  border-radius: 100%;
}

body {
    
    font-size: 20px;
    background-color: lightgoldenrodyellow;
}

.img {
    max-width: 200px;
    height: 200px;
    border: 5px;
    border-color: blueviolet;
}

/* sizes images uniformly using flex */

ul {
    display: flex;
    
}

li {
    flex-wrap: wrap;
    height: 40vh;
    flex-grow: 1;
}

img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
  }

li:last-child {
    flex-grow: 10;
}

